In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import Ridge, Lasso

In [2]:
data = pd.read_csv("energydata_complete.csv")

In [3]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Appliances,19735.0,97.694958,102.524891,10.000000,50.000000,60.000000,100.000000,1080.000000
lights,19735.0,3.801875,7.935988,0.000000,0.000000,0.000000,0.000000,70.000000
T1,19735.0,21.686571,1.606066,16.790000,20.760000,21.600000,22.600000,26.260000
RH_1,19735.0,40.259739,3.979299,27.023333,37.333333,39.656667,43.066667,63.360000
T2,19735.0,20.341219,2.192974,16.100000,18.790000,20.000000,21.500000,29.856667
RH_2,19735.0,40.420420,4.069813,20.463333,37.900000,40.500000,43.260000,56.026667
T3,19735.0,22.267611,2.006111,17.200000,20.790000,22.100000,23.290000,29.236000
RH_3,19735.0,39.242500,3.254576,28.766667,36.900000,38.530000,41.760000,50.163333
T4,19735.0,20.855335,2.042884,15.100000,19.530000,20.666667,22.100000,26.200000
RH_4,19735.0,39.026904,4.341321,27.660000,35.530000,38.400000,42.156667,51.090000
T5,19735.0,19.592106,1.844623,15.330000,18.277500,19.390000,20.619643,25.795000
RH_5,19735.0,50.949283,9.022034,29.815000,45.400000,49.090000,53.663333,96.321667
T6,19735.0,7.910939,6.090347,-6.065000,3.626667,7.300000,11.256000,28.290000
RH_6,19735.0,54.609083,31.149806,1.000000,30.025000,55.290000,83.226667,99.900000
T7,19735.0,20.267106,2.109993,15.390000,18.700000,20.033333,21.600000,26.000000
RH_7,19735.0,35.388200,5.114208,23.200000,31.500000,34.863333,39.000000,51.400000
T8,19735.0,22.029107,1.956162,16.306667,20.790000,22.100000,23.390000,27.230000
RH_8,19735.0,42.936165,5.224361,29.600000,39.066667,42.375000,46.536000,58.780000
T9,19735.0,19.485828,2.014712,14.890000,18.000000,19.390000,20.600000,24.500000
RH_9,19735.0,41.552401,4.151497,29.166667,38.500000,40.900000,44.338095,53.326667
T_out,19735.0,7.411665,5.317409,-5.000000,3.666667,6.916667,10.408333,26.100000
Press_mm_hg,19735.0,755.522602,7.399441,729.300000,750.933333,756.100000,760.933333,772.300000
RH_out,19735.0,79.750418,14.901088,24.000000,70.333333,83.666667,91.666667,100.000000
Windspeed,19735.0,4.039752,2.451221,0.000000,2.000000,3.666667,5.500000,14.000000
Visibility,19735.0,38.330834,11.794719,1.000000,29.000000,40.000000,40.000000,66.000000
Tdewpoint,19735.0,3.760707,4.194648,-6.600000,0.900000,3.433333,6.566667,15.500000
rv1,19735.0,24.988033,14.496634,0.005322,12.497889,24.897653,37.583769,49.996530
rv2,19735.0,24.988033,14.496634,0.005322,12.497889,24.897653,37.583769,49.996530

In [5]:
data.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [6]:
data.nunique()

date           19735
Appliances        92
lights             8
T1               722
RH_1            2547
T2              1650
RH_2            3376
T3              1426
RH_3            2618
T4              1390
RH_4            2987
T5              2263
RH_5            7571
T6              4446
RH_6            9709
T7              1955
RH_7            5891
T8              2228
RH_8            6649
T9               924
RH_9            3388
T_out           1730
Press_mm_hg     2189
RH_out           566
Windspeed        189
Visibility       413
Tdewpoint       1409
rv1            19735
rv2            19735
dtype: int64

In [ ]:
#FIT LINEARMODELON RSHP BETWEEN TEMP IN LIVING ROOM , X=72 AND OUTSIDE THE BUILDING Y=T6
#what isthe r squared value in 2dp

In [7]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [8]:
X = data[['T2']]
y = data['T6']
# Create a LinearRegression object
model = LinearRegression()
model.fit(X, y)

# Get the R-squared value
r_squared = model.score(X, y)

# Print the R-squared value rounded to two decimal places
print(f"R-squared: {r_squared:.2f}")

R-squared: 0.64

In [ ]:
#run a multiple linear regression using trainingset and evaluate the model on test set

#What is the MAE

In [9]:
#remove columns "date and lights"
columns_to_remove = ["date", "lights"]
data1 = data.drop(columns_to_remove, axis=1)

In [17]:
# Normalize the data using MinMaxScaler
scaler = MinMaxScaler()
data_normalized = scaler.fit_transform(data1)

In [19]:
# Remove the specified columns from the dataset
columns_to_remove = ['date', 'lights']
data = data.drop(columns_to_remove, axis=1)

# Define the feature matrix (X) and target variable (y)
X = data.drop('Appliances', axis=1)
y = data['Appliances']

# Normalize the feature matrix using MinMaxScaler
scaler = MinMaxScaler()
X_normalized = scaler.fit_transform(X)

# Perform train-test split with a random state of 42
X_train, X_test, y_train, y_test = train_test_split(X_normalized, y, test_size=0.3, random_state=42)

# Fit the linear regression model on the training set
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Calculate the Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)

# Print the MAE rounded to two decimal places
print(f"Mean Absolute Error: {mae:.2f}")

Mean Absolute Error: 53.64

In [22]:
# Fit the linear regression model on the training set
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Calculate the Root Mean Squared Error (RMSE)
rmse = mean_squared_error(y_test, y_pred, squared=False)

# Calculate the Coefficient of Determination (R-squared)
r_squared = r2_score(y_test, y_pred)

# Print the RMSE rounded to three decimal places
print(f"Root Mean Squared Error: {rmse:.3f}")

# Print the R-squared value rounded to two decimal places
print(f"Coefficient of Determination (R-squared): {r_squared:.2f}")

Root Mean Squared Error: 93.640
Coefficient of Determination (R-squared): 0.15

In [24]:
# Get the feature weights
feature_weights = pd.DataFrame({'Feature': X.columns, 'Weight': model.coef_})

# Sort the feature weights in ascending order
feature_weights = feature_weights.sort_values(by='Weight')

# Print the feature with the lowest weight
lowest_weight_feature = feature_weights.iloc[0]['Feature']
print(f"Feature with the lowest weight: {lowest_weight_feature}")

# Print the feature with the highest weight
highest_weight_feature = feature_weights.iloc[-1]['Feature']
print(f"Feature with the highest weight: {highest_weight_feature}")

Feature with the lowest weight: RH_2
Feature with the highest weight: RH_1

In [26]:
# Train a ridge regression model with alpha=0.4
ridge_model = Ridge(alpha=0.4)
ridge_model.fit(X_train, y_train)

# Predict on the test set using the ridge regression model
ridge_y_pred = ridge_model.predict(X_test)

# Calculate the RMSE for the ridge regression model
ridge_rmse = mean_squared_error(y_test, ridge_y_pred, squared=False)

# Train a lasso regression model with alpha=0.001
lasso_model = Lasso(alpha=0.001)
lasso_model.fit(X_train, y_train)

# Predict on the test set using the lasso regression model
lasso_y_pred = lasso_model.predict(X_test)

# Calculate the RMSE for the lasso regression model
lasso_rmse = mean_squared_error(y_test, lasso_y_pred, squared=False)

# Get the feature weights from the lasso regression model
lasso_feature_weights = pd.DataFrame({'Feature': X.columns, 'Weight': lasso_model.coef_})

# Count the number of features with non-zero weights
non_zero_features = len(lasso_feature_weights[lasso_feature_weights['Weight'] != 0])

# Print the changes in RMSE and the number of features with non-zero weights
print(f"Change in RMSE (Ridge vs. Linear Regression): {ridge_rmse:.3f}")
print(f"Number of features with non-zero weights (Lasso): {non_zero_features}")
print(f"RMSE with Lasso Regression: {lasso_rmse:.3f}")

Change in RMSE (Ridge vs. Linear Regression): 93.661
Number of features with non-zero weights (Lasso): 26
RMSE with Lasso Regression: 93.641

In [11]:
# Normalize the data using MinMaxScaler
scaler = MinMaxScaler()
X_normalized = scaler.fit_transform(X)

In [12]:
# Perform train-test split with a random state of 42
X_train, X_test, y_train, y_test = train_test_split(X_normalized, y, test_size=0.3, random_state=42)

In [13]:
# Fit the multiple linear regression model on the training set
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [14]:
# Predict on the test set
y_pred = model.predict(X_test)

In [15]:
# Calculate the Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)
# Print the MAE rounded to two decimal places
print(f"Mean Absolute Error: {mae:.2f}")

Mean Absolute Error: 53.64

In [16]:
# Calculate the Residual Sum of Squares (RSS)
rss = mean_squared_error(y_test, y_pred) * len(y_test)
# Print the RSS rounded to two decimal places
print(f"Residual Sum of Squares: {rss:.2f}")

Residual Sum of Squares: 51918501.21